### Recommendations with MovieTweetings: Most Popular Recommendation

Now that you have created the necessary columns we will be using throughout the rest of the lesson on creating recommendations, let's get started with the first of our recommendations.

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [2]:
movies

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines Lumi√®re (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7,443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN,1903,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,628,The Adventures of Dollie (1908),Action|Short,1908,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,833,The Country Doctor (1909),Short|Drama,1909,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,1223,Frankenstein (1910),Short|Fantasy|Horror,1910,0,1,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
11,1740,The Lonedale Operator (1911),Short|Drama|Romance,1911,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
12,2101,Cleopatra (1912),Drama|History,1912,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2130,L'inferno (1911),Adventure|Drama|Fantasy,1911,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,2354,Max et Jane veulent faire du th√©√¢tre (1911),Short|Comedy,1911,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
15,2844,Fant√¥mas - √Ä l'ombre de la guillotine (1913),Crime|Drama,1913,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,3740,Cabiria (1914),Adventure|Drama|History,1914,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17,3863,Dough and Dynamite (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
18,4099,"His Majesty, the Scarecrow of Oz (1914)",Family|Fantasy|Adventure,1914,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19,4100,His Musical Career (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
20,4101,His New Profession (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
21,4210,Laughing Gas (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
22,4395,The New Janitor (1914),Short|Comedy,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
23,4457,The Patchwork Girl of Oz (1914),Adventure|Family|Fantasy,1914,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
24,4518,Recreation (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
25,4546,The Rounders (1914),Comedy|Short,1914,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
26,4936,The Bank (1915),Comedy|Short,1915,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
27,4972,The Birth of a Nation (1915),Drama|History|War,1915,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,5074,The Champion (1915),Short|Comedy|Sport,1915,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
29,5078,The Cheat (1915),Drama,1915,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31215,7942708,KL Special Force (2018),Action,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
31216,7949046,Paradox (2018),Music,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31217,7959216,Ut√∏ya 22. juli (2018),Drama|Thriller,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31218,7967954,Lee Chong Wei (2018),Biography,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31219,7983794,Operation Odessa (2018),Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31220,7983844,Take Your Pills (2018),Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31221,8005338,Chris Rock: Tamborine (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31222,8043254,Sirb al-Hamam (2018),NaN,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31223,8054150,O chyom govoryat muzhchiny. Prodolzhenie (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31224,8075496,Bao (2018),Animation|Short|Family,2018,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
31225,8079546,Artist at Work: Annie Wood (2018),NaN,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31226,8080268,Rock 'n' Roll Guns for Hire: The Story of the ...,NaN,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31227,8080556,The Director and The Jedi (2018),Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31228,8088944,Ban-deu-si Jab-neun-da (2017),Drama|Thriller,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31229,8092252,Be with You (2018),Fantasy|Romance,2018,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
31230,8102036,Kevin Smith: Silent But Deadly (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31231,8106570,The Rachel Divide (2018),Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31232,8119752,Gon-ji-am (2018),Horror,2018,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
31233,8123286,Diz√°jneren (2016),NaN,2016,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31234,8140564,My Perfect You (2018),Drama|Romance,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
31235,8144778,The Redeemed and the Dominant: Fittest on Eart...,Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31236,8144868,Pailalim (2017),NaN,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31237,8206708,Carry on Jatta 2 (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31238,8289196,John McCain: For Whom the Bell Tolls (2018),Documentary,2018,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31239,8324578,Kevin James: Never Don't Give Up (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31240,8335880,Loro 2 (2018),Biography,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31241,8342748,Hari Kondabolu: Warn Your Relatives (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31242,8342946,Tig Notaro: Happy To Be Here (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31243,8402090,Cumali Ceber 2 (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31244,8439854,Lust Stories (2018),Drama,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
reviews

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,2,816711,8,1379963769,2013-09-23 19:16:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,2,1091191,7,1391173869,2014-01-31 13:11:09,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,2,1103275,7,1408192129,2014-08-16 12:28:49,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,2,1322269,7,1391529691,2014-02-04 16:01:31,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,2,1390411,8,1451374513,2015-12-29 07:35:13,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
10,2,1398426,8,1456160307,2016-02-22 16:58:27,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,2,1431045,7,1457733508,2016-03-11 21:58:28,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,2,1433811,8,1380453043,2013-09-29 11:10:43,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,2,1454468,8,1387016442,2013-12-14 10:20:42,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
14,2,1535109,8,1386350135,2013-12-06 17:15:35,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
15,2,1675434,8,1396688981,2014-04-05 09:09:41,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,2,1798709,10,1389948338,2014-01-17 08:45:38,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,2,2017038,7,1390570895,2014-01-24 13:41:35,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,2,2024544,10,1389355949,2014-01-10 12:12:29,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,2,2294629,8,1392455710,2014-02-15 09:15:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,2,2361509,8,1446837136,2015-11-06 19:12:16,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
21,2,2381249,5,1446837214,2015-11-06 19:13:34,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
22,2,2726560,9,1438293988,2015-07-30 22:06:28,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23,2,2883512,8,1432407808,2015-05-23 19:03:28,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,2,3079380,8,1433614454,2015-06-06 18:14:14,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,3,1790864,7,1448832437,2015-11-29 21:27:17,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
26,3,2170439,7,1447542932,2015-11-14 23:15:32,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
27,3,2203939,6,1452467314,2016-01-10 23:08:34,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,4,1300854,7,1368156300,2013-05-10 03:25:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,5,54953,5,1415080947,2014-11-04 06:02:27,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712307,53966,5503688,7,1508359550,2017-10-18 20:45:50,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712308,53966,5519340,5,1514065559,2017-12-23 21:45:59,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712309,53966,5541240,6,1500132063,2017-07-15 15:21:03,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712310,53966,5580036,6,1520201180,2018-03-04 22:06:20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712311,53966,5580390,4,1520005525,2018-03-02 15:45:25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712312,53966,5580536,3,1484082432,2017-01-10 21:07:12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712313,53966,5599692,6,1486329609,2017-02-05 21:20:09,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712314,53966,5657846,4,1518212247,2018-02-09 21:37:27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712315,53966,5666304,4,1523835422,2018-04-15 23:37:02,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712316,53966,5715874,2,1523702856,2018-04-14 10:47:36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712317,53966,5716464,5,1514327625,2017-12-26 22:33:45,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712318,53966,5719700,5,1511995252,2017-11-29 22:40:52,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
712319,53966,5721088,3,1520745417,2018-03-11 05:16:57,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712320,53966,5776858,5,1523921325,2018-04-16 23:28:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712321,53966,5816682,6,1514666854,2017-12-30 20:47:34,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712322,53966,5884230,2,1524694574,2018-04-25 22:16:14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712323,53966,5884234,6,1501110496,2017-07-26 23:08:16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712324,53966,5929750,4,1503706655,2017-08-26 00:17:35,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712325,53966,5962210,5,1509488338,2017-10-31 22:18:58,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712326,53966,6000478,7,1517176691,2018-01-28 21:58:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712327,53966,6204340,5,1516237542,2018-01-18 01:05:42,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712328,53966,6265828,1,1505940901,2017-09-20 20:55:01,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712329,53966,6294822,5,1524347456,2018-04-21 21:50:56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712330,53966,6359956,6,1516060311,2018-01-15 23:51:51,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712331,53966,6421110,5,1522275066,2018-03-28 22:11:06,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712333,53966,6684714,5,1516287632,2018-01-18 15:00:32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712334,53967,816711,8,1371972851,2013-06-23 07:34:11,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712335,53968,1559547,2,1373287369,2013-07-08 12:42:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712336,53968,2415464,2,1373772560,2013-07-14 03:29:20,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
movie_is_five = pd.DataFrame(reviews.groupby('movie_id')['rating'].count() >= 5)

In [5]:
reviews.groupby('movie_id').max()['date']

movie_id
8          2014-04-08 18:20:11
10         2014-10-09 18:15:53
12         2015-08-10 23:16:19
25         2017-02-27 10:04:59
91         2013-11-23 18:59:55
417        2018-06-26 21:08:46
439        2018-06-24 02:59:09
443        2016-10-23 21:08:32
628        2013-11-29 12:55:28
833        2013-11-29 15:27:27
1223       2013-10-12 17:48:58
1740       2013-11-29 12:54:57
2101       2014-03-24 06:28:08
2130       2014-03-30 04:30:03
2354       2016-02-24 19:41:51
2844       2013-03-09 06:36:12
3740       2018-01-29 03:25:17
3863       2015-05-01 00:03:27
4099       2017-09-09 01:01:51
4100       2017-01-26 19:52:16
4101       2015-04-30 23:49:52
4210       2015-05-01 00:07:39
4395       2015-05-01 00:10:28
4457       2016-05-02 00:03:29
4518       2015-05-04 05:12:52
4546       2015-05-04 05:23:56
4936       2013-07-06 00:21:09
4972       2017-11-06 15:47:21
5074       2015-04-06 20:34:50
5078       2013-08-23 12:56:15
                  ...
7942708    2018-03-14 22:25:17
7949046    2018-04-16 06:50:17
7959216    2018-03-25 18:53:11
7967954    2018-03-26 04:04:57
7983794    2018-06-12 22:08:51
7983844    2018-04-11 03:10:21
8005338    2018-06-05 08:43:00
8043254    2018-02-24 14:00:14
8054150    2018-05-19 16:24:53
8075496    2018-06-21 14:34:27
8079546    2018-05-26 08:55:44
8080268    2018-03-02 17:29:02
8080556    2018-03-13 12:38:11
8088944    2018-03-21 11:51:55
8092252    2018-06-24 07:14:19
8102036    2018-06-06 18:59:20
8106570    2018-05-19 21:40:35
8119752    2018-06-03 00:48:10
8123286    2018-05-14 19:45:58
8140564    2018-05-26 12:30:39
8144778    2018-06-21 18:29:16
8144868    2018-04-15 12:52:07
8206708    2018-06-09 00:25:21
8289196    2018-06-20 22:00:40
8324578    2018-04-30 15:15:21
8335880    2018-05-11 18:39:25
8342748    2018-05-26 18:50:01
8342946    2018-06-18 03:16:26
8402090    2018-06-12 14:21:41
8439854    2018-06-26 07:35:47
Name: date, Length: 31245, dtype: object

In [6]:
df = pd.merge(reviews, movie_is_five, on='movie_id', how='left')
df = df.loc[df['rating_y'] == True]
df

,user_id,movie_id,rating_x,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,rating_y
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,True
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,True
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
5,2,816711,8,1379963769,2013-09-23 19:16:09,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
6,2,1091191,7,1391173869,2014-01-31 13:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
7,2,1103275,7,1408192129,2014-08-16 12:28:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
8,2,1322269,7,1391529691,2014-02-04 16:01:31,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
9,2,1390411,8,1451374513,2015-12-29 07:35:13,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,True
10,2,1398426,8,1456160307,2016-02-22 16:58:27,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
11,2,1431045,7,1457733508,2016-03-11 21:58:28,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
12,2,1433811,8,1380453043,2013-09-29 11:10:43,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
13,2,1454468,8,1387016442,2013-12-14 10:20:42,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,True
14,2,1535109,8,1386350135,2013-12-06 17:15:35,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,True
15,2,1675434,8,1396688981,2014-04-05 09:09:41,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
16,2,1798709,10,1389948338,2014-01-17 08:45:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
17,2,2017038,7,1390570895,2014-01-24 13:41:35,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
18,2,2024544,10,1389355949,2014-01-10 12:12:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
19,2,2294629,8,1392455710,2014-02-15 09:15:10,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,True
20,2,2361509,8,1446837136,2015-11-06 19:12:16,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,True
21,2,2381249,5,1446837214,2015-11-06 19:13:34,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,True
22,2,2726560,9,1438293988,2015-07-30 22:06:28,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,True
23,2,2883512,8,1432407808,2015-05-23 19:03:28,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,True
24,2,3079380,8,1433614454,2015-06-06 18:14:14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,True
25,3,1790864,7,1448832437,2015-11-29 21:27:17,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,True
26,3,2170439,7,1447542932,2015-11-14 23:15:32,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,True
27,3,2203939,6,1452467314,2016-01-10 23:08:34,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
28,4,1300854,7,1368156300,2013-05-10 03:25:00,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
29,5,54953,5,1415080947,2014-11-04 06:02:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712306,53966,5478478,5,1524007763,2018-04-17 23:29:23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712307,53966,5503688,7,1508359550,2017-10-18 20:45:50,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,True
712308,53966,5519340,5,1514065559,2017-12-23 21:45:59,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,True
712309,53966,5541240,6,1500132063,2017-07-15 15:21:03,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712310,53966,5580036,6,1520201180,2018-03-04 22:06:20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712311,53966,5580390,4,1520005525,2018-03-02 15:45:25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712312,53966,5580536,3,1484082432,2017-01-10 21:07:12,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712313,53966,5599692,6,1486329609,2017-02-05 21:20:09,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712314,53966,5657846,4,1518212247,2018-02-09 21:37:27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712315,53966,5666304,4,1523835422,2018-04-15 23:37:02,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712316,53966,5715874,2,1523702856,2018-04-14 10:47:36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712317,53966,5716464,5,1514327625,2017-12-26 22:33:45,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,True
712318,53966,5719700,5,1511995252,2017-11-29 22:40:52,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,True
712319,53966,5721088,3,1520745417,2018-03-11 05:16:57,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712320,53966,5776858,5,1523921325,2018-04-16 23:28:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712321,53966,5816682,6,1514666854,2017-12-30 20:47:34,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,True
712322,53966,5884230,2,1524694574,2018-04-25 22:16:14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712323,53966,5884234,6,1501110496,2017-07-26 23:08:16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712324,53966,5929750,4,1503706655,2017-08-26 00:17:35,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712325,53966,5962210,5,1509488338,2017-10-31 22:18:58,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,True
712326,53966,6000478,7,1517176691,2018-01-28 21:58:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712327,53966,6204340,5,1516237542,2018-01-18 01:05:42,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712328,53966,6265828,1,1505940901,2017-09-20 20:55:01,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,True
712329,53966,6294822,5,1524347456,2018-04-21 21:50:56,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712330,53966,6359956,6,1516060311,2018-01-15 23:51:51,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712333,53966,6684714,5,1516287632,2018-01-18 15:00:32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,True
712334,53967,816711,8,1371972851,2013-06-23 07:34:11,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
712335,53968,1559547,2,1373287369,2013-07-08 12:42:49,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True
712336,53968,2415464,2,1373772560,2013-07-14 03:29:20,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,True

In [7]:
df.groupby('movie_id')['rating_x'].mean().sort_values(ascending=False)

movie_id
5262972    10.000000
2219210    10.000000
2059318    10.000000
4921860    10.000000
5688932    10.000000
4448444    10.000000
5131914    10.000000
1431149    10.000000
2560840    10.000000
2737018    10.000000
5512872     9.985836
4148400     9.882353
6798422     9.800000
1629443     9.800000
423176      9.800000
111341      9.800000
2396421     9.666667
58888       9.666667
2592910     9.666667
12364       9.625000
57565       9.600000
6054758     9.600000
5134588     9.600000
363473      9.600000
2265179     9.571429
5323386     9.555556
45274       9.500000
29843       9.500000
73440       9.428571
6781498     9.428571
             ...
2088923     2.750000
3727824     2.714286
2769184     2.714286
3203620     2.714286
466342      2.666667
2006801     2.666667
3283792     2.600000
2325518     2.444444
185183      2.437500
1540767     2.434783
2357489     2.400000
3551400     2.400000
110978      2.333333
5988370     2.285714
829176      2.269231
3036740     2.200000
2622826     2.200000
3104304     2.200000
3561236     2.200000
1098327     2.157895
2147365     2.142857
105585      2.133333
5669936     2.000000
2573750     2.000000
1213644     1.937500
60666       1.857143
3108604     1.800000
3187378     1.666667
4458206     1.000000
7923374     1.000000
Name: rating_x, Length: 9974, dtype: float64

In [8]:
movies.set_index('movie_id').head()

,movie,genre,date,1800's,1900's,2000's,History,News,Horror,Musical,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
movie_id,,,,,,,,,,,,,,,,,,,,,
8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10,La sortie des usines Lumi√®re (1895),Documentary|Short,1895,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
def create_ranked_df(movies, reviews):
    """Return a ranked movie based on
        - A movie with the highest average rating is considered best
        - With ties, movies that have more ratings are better
        - A movie must have a minimum of 5 ratings to be considered among the best movies
        - If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating
    """
    movie_ratings = reviews.groupby('movie_id')['rating']
    avg_ratings = movie_ratings.mean()
    num_ratings = movie_ratings.count()
    
    last_ratings = pd.DataFrame(reviews.groupby('movie_id').max()['date'])
    last_ratings.columns = ['last_rating']
    
    ratings_count_df = pd.DataFrame({'avg_rating': avg_ratings, 'num_rating': num_ratings})
    ratings_count_df = ratings_count_df.join(last_ratings)
    
    movie_recs = movies.set_index('movie_id').join(ratings_count_df)
    
    ranked_movies = movie_recs.sort_values(['avg_rating', 'num_rating', 'last_rating'], ascending=False)
    ranked_movies = ranked_movies.loc[ranked_movies['num_rating'] > 4]
    
    return ranked_movies

In [10]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    top_movies = list(ranked_movies['movie'][:n_top])
    
    
    return top_movies # a list of the n_top movies as recommended

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [11]:
ranked_movies = create_ranked_df(movies, reviews)

# Top 20 movies recommended for id 1
recs_20_for_1 = popular_recommendations(1, 20)

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations(53968, 5)

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations(70000, 100)

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations(43, 35)

In [12]:
recs_20_for_1

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'S√°t√°ntang√≥ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Akahige (1965)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'K√∂rkarlen (1921)']

In [13]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

In [14]:
t.popular_recommendations('1', 20, ranked_movies)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'S√°t√°ntang√≥ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Akahige (1965)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'K√∂rkarlen (1921)']

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])
```

In [15]:
ranked_movies.head()

,movie,genre,date,1800's,1900's,2000's,History,News,Horror,Musical,...,Action,Documentary,Animation,Comedy,Short,Western,Thriller,avg_rating,num_ratings,last_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
4921860,MSG 2 the Messenger (2015),Comedy|Drama|Fantasy,2015,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,10.0,48,2016-08-14 17:16:50
5262972,Avengers: Age of Ultron Parody (2015),Short|Comedy,2015,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,10.0,28,2016-01-08 00:44:43
5688932,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,2018,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,10.0,14,2018-06-17 01:44:48
2737018,Selam (2013),Drama|Romance,2013,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,10.0,10,2015-05-10 22:56:01
2560840,"Quiet Riot: Well Now You're Here, There's No W...",Documentary|Music,2014,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,10.0,6,2016-01-23 00:30:44

In [16]:
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

['Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'The Farthest (2017)',
 'Sado (2015)',
 'Hatred (2016)',
 'Kincsem (2017)',
 'Nise - O Cora√ß√£o da Loucura (2015)',
 'LA 92 (2017)',
 'Straight Outta Compton (2015)',
 'Manjhi: The Mountain Man (2015)',
 'Only the Dead (2015)',
 'Spotlight (2015)',
 'Under sandet (2015)',
 'Airlift (2016)',
 'Dunkirk (2017)',
 'Taeksi Woonjunsa (2017)',
 'The Battleship Island (2017)',
 'Darkest Hour (2017)',
 'Best of Enemies (2015)',
 'The Ghazi Attack (2017)']

In [25]:
def popular_recs_filtered(user_id, n_top, ranked_movies, years, genres):
    top_movies = ranked_movies.loc[(ranked_movies['date'].isin(years)) &
                                   (ranked_movies[genres].sum(axis=1) > 0)]
    
    
    top_movies = list(top_movies['movie'][:n_top])
    
    return top_movies

In [26]:
popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

['Ayla: The Daughter of War (2017)',
 'I Believe in Miracles (2015)',
 'The Farthest (2017)',
 'Sado (2015)',
 'Hatred (2016)',
 'Kincsem (2017)',
 'Nise - O Cora√ß√£o da Loucura (2015)',
 'LA 92 (2017)',
 'Straight Outta Compton (2015)',
 'Manjhi: The Mountain Man (2015)',
 'Only the Dead (2015)',
 'Spotlight (2015)',
 'Under sandet (2015)',
 'Airlift (2016)',
 'Dunkirk (2017)',
 'Taeksi Woonjunsa (2017)',
 'The Battleship Island (2017)',
 'Darkest Hour (2017)',
 'Best of Enemies (2015)',
 'The Ghazi Attack (2017)']